html {
  height: 100%;
  width: 100%;
}
body {
  background-color: gray;
}
h3 {
  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}

.img-thumbnail {
  width: 600px; /* Ancho de la imagen */
  height:600px; /* Alto de la imagen */
}
